[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yurakekc
[access "refs/for/refs/*"]
	read = group user/yurakekc
	push = group user/yurakekc
	label-Code-Review = -2..+2 group user/yurakekc
	label-Verified = -1..+1 group user/yurakekc
	rebase = group user/yurakekc
	removeReviewer = group user/yurakekc
	submit = group user/yurakekc
[access "refs/heads/*"]
	read = group user/yurakekc
	create = group user/yurakekc
	push = +force group user/yurakekc
	pushMerge = group user/yurakekc
[access "refs/tags/*"]
	push = group user/yurakekc
	push = +force group user/yurakekc
